* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 300px;
  background-color: white;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
}

#title-area {
  background-color: #F53240;
  padding: 25px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

#content {
  padding: 15px 10px;
}

#links {
  padding: 10px;
  text-align: right;
}
